@media(max-width: 991.98px) {
    #nav{
        padding: 25px o !important;
    }
}

#nav ul li a {
    display: inline-block;

}

#hero {
    padding: 10px;
    text-align: center;
}



#hero .icons a:first-child{
    margin-bottom: 10px;
    margin-right: 0;
}